1. Write a Python program to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9).

In [114]:
import re
test_str=input("Enter the string : ")
patt=re.compile(r'[a-zA-Z0-9]+$')
res=patt.match(test_str)
if res:
  print('\nThe string contains only a-z, A-Z and 0-9')
else:
  print("\nOther Characters are also present")

Enter the string : Learn python

Other Characters are also present

2. Write a Python program that matches a string that has an a followed by zero or more b's.

In [129]:
import re
pat=r'\ba[b]*'
text=input('Enter a string : ')
x=re.findall(pat, text)
if x:
  print("Match found : ",x)
else:print("Match not found")

Enter a string : sa bank abs acid
Match found :  ['ab', 'a']

3. Replace only the first occurrence of 5 with five for the given string

In [119]:
import re
ip = 'They ate 5 apples and 5 oranges'
op=re.sub("5","five",ip,1)
print(op)

They ate five apples and 5 oranges

4. Write a Python program that matches a string that has an a followed by three 'b'.

In [15]:
import re
pat=r'a[b]{3}'
text=input('Enter a string : ')
x=re.findall(pat, text)
if x:
  print("Match found : ",x)
else:print("Match not found")

Enter a string : abbcd abbbcd babbbbc
Match found :  ['abbb', 'abbb']

5. Write a Python program that matches a string that has an 'a' followed by anything ending in 'b'.

In [22]:
import re
pat=r'\ba.*b\b'
text=input('Enter a string : ')
x=re.findall(pat, text)
if x:
  print("Match found : ",x)
else:print("Match not found")

Enter a string : adcb
Match found :  ['adcb']

6. Write a Python program to search for numbers (0-9) of length between 1 and 3 in a given string.

In [137]:
import re
txt="Exercises number 1, 12, 13 and 345 are important"
patt=r'\b[0-9]{1,3}\b'
x=re.findall(patt,txt)
print(x)

['1', '12', '13', '345']

7. Write a Python program to search for literal strings within a string.\
Sample text : 'The quick brown fox jumps over the lazy dog.' \
Searched words : 'fox', 'dog', 'horse'

In [6]:
import re
pat_list=[ 'fox', 'dog', 'horse']
text='The quick brown fox jumps over the lazy dog.'
for pattern in pat_list:
  if re.search(pattern,text):
    print(f"\'{pattern}\' is found in \'{text}\'")
  else:
    print(f'\'{pattern}\' is NOT found')

'fox' is found in 'The quick brown fox jumps over the lazy dog.'
'dog' is found in 'The quick brown fox jumps over the lazy dog.'
'horse' is NOT found

8. Write a Python program to search for a literal string in a string and also find the location within the original string where the pattern occurs.

Sample text : 'The quick brown fox jumps over the lazy dog.' \
Searched words : 'fox'

In [9]:
import re
text=input("Enter the string to examine : ")
pattern=input("Enter the pattern to search : ")
mat=re.search(pattern,text)
print(f"Found \'{pattern}\' in \'{text}\' at {mat.span()}")

Enter the string to examine : The quick brown fox jumps over the lazy dog.
Enter the pattern to search : fox
Found 'fox' in 'The quick brown fox jumps over the lazy dog.' at (16, 19)

9.  Write a Python program to extract year, month and date from an URL

In [18]:
import re
url1= "https://www.washingtonpost.com/news/football-insider/wp/2016/09/02/odell-beckhams-fame-rests-on-one-stupid-little-ball-josh-norman-tells-author/"
p=re.compile(r'\d{4}/\d{1,2}/\d{1,2}')
print(p.findall(url1))

['2016/09/02']

10. Write a Python program to find URLs in a string.

In [29]:
text = '<p>Contents :</p><a href="https://w3resource.com">Python Examples</a><a href="http://github.com">Even More Examples</a>'
pat=r'http[s]?\://\w+\.\w+'
res=re.findall(pat,text)
print(res)

['https://w3resource.com', 'http://github.com']

11. Write a Python program to remove the parenthesis area in a string.

Sample data : ["example (.com)", "w3resource", "github (.com)", "stackoverflow (.com)"] \
Expected Output: \
example  \
w3resource \
github  \
stackoverflow. \

In [7]:
import re
data=["example(.com)", "w3resource", "github(.com)", "stackoverflow(.com)"]
for pat in data:
  res=re.sub(r'\(\.\w+\)','',pat)
  print (res)

example
w3resource
github
stackoverflow

12. Write a Python program to concatenate the consecutive numbers in a given string. \

Original string:  \
Enter at 1 20 Kearny Street. The security desk can direct you to floor 1 6. Please have your identification ready.  \

After concatenating the consecutive numbers in the said string:  \
Enter at 120 Kearny Street. The security desk can direct you to floor 16. Please have your identification ready.

In [13]:
import re
ip_string="Enter at 1 20 Kearny Street. The security desk can direct you to floor 1 6. Please have your identification ready."
p=re.compile(r'(?<=\d)( )(?=\d)')
res=p.sub('',ip_string)
print(res)

Enter at 120 Kearny Street. The security desk can direct you to floor 16. Please have your identification ready.