1. Write a Python program to sum all the items in a list.

In [46]:
my_list=[6, 2 ,  8, 4, 5]
sum=0
i=0
while i < len(my_list):
  sum+=my_list[i]
  i+=1
print(sum)

25

2. Write a Python program to get the largest number from a list.

In [47]:
my_l=[26, 12 ,  8, 14, 35]
lar_num=0
i=0
while i<len(my_l):
  if lar_num < my_l[i]:
    lar_num = my_l[i]
  i+=1

print('largest number in the list is',lar_num)

largest number in the list is 35

In [48]:
my_l=[26, 112 ,  8, 14, 5]
my_l.sort()
print('largest number in the list is', my_l[-1])

largest number in the list is 112

3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
```

In [49]:
mylist=['nazn','zaz','sat','san','fan','fluf', 'slap']


count=0
i=0
k=0
while k < len(mylist):
  if len(mylist[i])>=2:
    if mylist[i][0]==mylist[i][len(mylist[i])-1]:
      count+=1
    i+=1
  k+=1
print(count)

3

4. Write a Python program to remove duplicates from a list.

In [50]:
l1=[2, 4, 5, 2, 7, 4, 5, 6]
l2=[]
for i in l1:
  if i not in l2:
    l2.append(i)
print(l2)

[2, 4, 5, 7, 6]

In [51]:
l1=[2, 4, 5, 2, 7, 4, 5, 6]
new_list=list(set(l1))
print(new_list)

[2, 4, 5, 6, 7]

5. Write a Python program to check if a list is empty or not.

In [52]:
the_list=[1,3,5]
if len(the_list)==0:
  print("the list is empty")
else: print("the list is not empty")

the list is not empty

6. Write a Python program to filter the list if the length of the character is < 4

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']
```

In [53]:
mylist=['abc','pqrs','xyz','12','9','1221']
result=[]
for i in mylist:
  if len(i)<4:
    result.append(i)
print("the result is", result)

the result is ['abc', 'xyz', '12', '9']

7.Write a Python program to find the second largest number in a list.

In [54]:
my_l=[26, 12 , 112, 112, 26, 46, 8, 92, 8, 14, 5]
my_l.sort()
print(my_l)
i=1
while -i>-len(my_l):

  if my_l[-i]!=my_l[-i-1]:
    print('the second largest number is',my_l[-i-1])
    break
  i+=1

[5, 8, 8, 12, 14, 26, 26, 46, 92, 112, 112]
the second largest number is 92

8. Write a Python program to reverse a list at a specific location.

In [55]:
#l=['adf','bsd','cdg','dfg','cxh','fhf','hdg']
l=[2,33,6,9,12,4,56,22]
print('The list is',l)
rev_point=int(input('Specify the location to be reversed'))
old_l=l[0:rev_point]
new_l=l[rev_point:]
new_l.reverse()
print("The new list is",old_l+new_l)

The list is [2, 33, 6, 9, 12, 4, 56, 22]
Specify the location to be reversed3
The new list is [2, 33, 6, 22, 56, 4, 12, 9]

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [56]:
#l1=[1, 2, 3, 5, 4, 3, 2, 1]
l1=[1, 2, 2, 3, 2, 2, 1]
l2=l1.copy()
l1.reverse()

if l1==l2:
  print('true')
else:
  print('false')

true

10. Write a Python a program to find the union and intersection of two lists.

In [57]:
l1=[3,9,11,14,17]
l2=[1,5,2,11,15,12,14,3]
s1=set(l1)
s2=set(l2)
un_s=s1.union(s2)
un_l=list(un_s)
int=[]
print('union of the two lists is', un_l)
for i in l1:
  if i in l2:
    int.append(i)
print('the intersection of the two lists is ',int)

union of the two lists is [1, 2, 3, 5, 9, 11, 12, 14, 15, 17]
the intersection of the two lists is  [3, 11, 14]

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [17]:
mydict={'f':3, 's':2, 'k':8, 'q':26, 'h':15, 'm':12}
print("the dictionary is ",mydict)
print("Sorting in ascending order by values")
# Ascending Order
val=sorted(list(mydict.values()))
sorted_dict={}
v=list(mydict.values())
for i in val:
  a=0
  while a<len(mydict):
    for k in list(mydict.keys()):
      if i == v[a]:
        sorted_dict.update({k:v[a]})
      a+=1
print(sorted_dict)

print("\nthe dictionary is ",mydict)
print('Sorting in Descending order by values')
# Descending Order
val1=sorted(list(mydict.values()),reverse=True)
rev_sort={}
v1=list(mydict.values())
for i in val1:
  a=0
  while a<len(mydict):
    for k in list(mydict.keys()):
      if i == v1[a]:
        rev_sort.update({k:v[a]})
      a+=1
print(rev_sort)

the dictionary is  {'f': 3, 's': 2, 'k': 8, 'q': 26, 'h': 15, 'm': 12}
Sorting in ascending order by values
{'s': 2, 'f': 3, 'k': 8, 'm': 12, 'h': 15, 'q': 26}

the dictionary is  {'f': 3, 's': 2, 'k': 8, 'q': 26, 'h': 15, 'm': 12}
Sorting in Descending order by values
{'q': 26, 'h': 15, 'm': 12, 'k': 8, 'f': 3, 's': 2}

12. Write a Python script to check whether a given key already exists in a dictionary.

In [63]:
mydict={'a':3, 'b':2, 'c':8, 'd':26, 'e':15, 'f':12}
k_check=input('enter the required key ')
k_check in mydict.keys()

enter the required key d

True

13.Write a Python program to sum all the values in a dictionary.

In [80]:
mydict={'a':3, 'b':2, 'c':8, 'd':26, 'e':15, 'f':12}
val=list(mydict.values())
sum=0
i=0
while i < len(val):
  sum+=val[i]
  i+=1
print(sum)

66

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

```
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}
```

In [27]:
ipt=int(input('Enter the input number '))
dic={i:i**2 for i in range(1,ipt+1)}
print('the dictionary is ',dic)
if ipt<10:
  print('\nthe input number is less than 10')

Enter the input number 3
the dictionary is  {1: 1, 2: 4, 3: 9}

the input number is less than 10

15.Write a Python program to sort a given dictionary by key.

In [28]:
mydict={'v':3, 'b':2, 'j':8, 'e':26, 'm':15, 's':12}
print('the given dictionary is ',mydict)
tup=mydict.items()
y=sorted(tup)
dic={k:v for k,v in y}
print('the sorted dictionary is',dic)

the given dictionary is  {'v': 3, 'b': 2, 'j': 8, 'e': 26, 'm': 15, 's': 12}
the sorted dictionary is {'b': 2, 'e': 26, 'j': 8, 'm': 15, 's': 12, 'v': 3}

16.  Write a Python program to create a dictionary from a string.

```
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

```

In [83]:
#s1="hello"
s1=input('enter the string ')
print('the string is', s1)
l1=list(s1)
count=[]
i=0
while i<len(l1):
  c=l1.count(l1[i])
  count.append(c)
  i+=1
newdict={k:v for k,v in zip(l1,count)}
print(newdict)

enter the string hellooo
the string is hellooo
{'h': 1, 'e': 1, 'l': 2, 'o': 3}

17. Write a Python program to get the top three items in a shop.

```
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:
item4 55
item1 45.5
item3 41.3
```

In [58]:
sample={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
print('our data is',sample)
value=sorted(list(sample.values()),reverse=True)
top=value[:3]
v1=list(sample.values())
print('\nthe top selling items in the shop are:\n')
for i in top:
  a=0
  while a<len(sample):
    for k in list(sample.keys()):
      if i == v1[a]:
        print(k,v1[a])
      a+=1

our data is {'item1': 45.5, 'item2': 35, 'item3': 41.3, 'item4': 55, 'item5': 24}

the top selling items in the shop are:

item4 55
item1 45.5
item3 41.3